
<p><%= I18n.t('views.statistics.description') %></p>
<ul>
<li><%= link_to I18n.t('views.statistics.leave_days'), statistics_leave_days_path %></li>
<!--<li><%= link_to I18n.t('views.statistics.working_hours'), statistics_working_hours_path %></li>-->
</ul>
