
<div class="panel panel-default">
<div class="panel-heading"><%= I18n.t('views.home.todays_working_time_heading') %></div>
<%= render 'time_entries/day_time_entries', display_add_time_entry: false %>
</div>

<p>
  <center>
  <% if !@timer_running  %>
    <%= button_to I18n.t('views.home.start_work'), time_tracking_start_path, :method => "post", :class=>"btn btn-default btn-success" %>
  <% else %>
    <%= button_to I18n.t('views.home.stop_work'), time_tracking_stop_path, :method => "post", :class=>"btn btn-default btn-danger" %>
  <% end %>
  </center>
</p>
