.leave-days {

    th.date {
      width: 15%;
    }

    th.description {
      width: 35%;
    }


    th.type {
      width: 15%;
    }

    table.summary {
      width: 100%;

      td {
        width: 33%;
      }
    }
}
