<div class="panel panel-default">
  <div class="panel-heading">Report for <%= @report.date.to_formatted_s(:month_year_date)%></div>
  <div class="panel-body">
    <center>Report not available for mgirated employment!</center>
  </div>
</div>
